@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

body {
  @apply bg-white;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}


.mrt-table {
  --header-name-size: auto !important;
  --col-name-size: auto !important;
}

.mrt-table-head-cell-labels {
  @apply flex justify-between w-full;
}

.mrt-table-paper {
  @apply border-none shadow-none;
}

